@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: hsl(228, 45%, 44%);
    }

    .card{
        padding-left: 10%;
    
        
    }
    .title{
        color:hsl(0, 36%, 70%);
        text-transform: uppercase;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: 600px !important;
        font-size: 80px;
        margin-top: 10%;
        margin-left: 10%;
         letter-spacing: 15px !important;
    }
    .card-title{
        color:hsl(0, 6%, 24%);
        text-transform: uppercase;
         font-family: 'Josefin Sans', sans-serif;
         font-weight: 400px;
         font-size: 80px;
         letter-spacing: 15px !important;
         margin-left: 10%
    }
    .card-text{

         color:hsl(0, 36%, 70%);
         font-family: 'Josefin Sans', sans-serif;
         font-size: 16px;
         margin-top:3% !important;
         margin-left: 10%
        
    }
    .o{
        display:-webkit-flex; 
       
        margin-left: 10% !important;
        font-size:40px;
        margin-top: 5%;
        font-family: 'Josefin Sans', sans-serif;
        background-image:linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%)) !important;
        -webkit-text-fill-color: transparent;
         -webkit-background-clip: text;
}
       
          
    
    .card-arriba{
         font-family: 'Josefin Sans', sans-serif;
        
        text-transform: uppercase;
        font-size: 15px;
        margin-top: 5%;
        margin-left: 1%
    }
   
    .imput{
        margin-top: 5% !important;
        width:430px !important;
        margin-left: -3%;
        height: 50px;
        color:hsl(0, 36%, 70%) !important;
       
    }
    
    .btn{
        background:linear-gradient(hsl(0, 80%, 86%), hsl(0, 74%, 74%)) !important;
       
       color:white !important;
        font-size: 28px !important;
        margin-top: 5% !important;
        margin-left: -10%;
        height: 50px;
        width: 13% !important;
        

    }
    .btn:hover {
    background: linear-gradient( hsl(0, 0%, 100%), hsl(0, 80%, 86%)) !important;
    transition: all .3s;
}

    input::placeholder {
  color:hsl(0, 36%, 70%) !important;
  font-size: 0.8em;
  
  

  
}
#invalidEmail{
    text-align: left;
    
}
@media screen and (min-width:757px) {
    .imgDesktop { 
        display: block !important;
    }
    .imgMobile { 
        display: none !important;
    }
}
@media screen and (max-width:1023px) {
    .imgDesktop { 
        display: block !important;
    }
    .imgMobile { 
        display: none !important;
    }
}
   @media screen and (max-width:576px){
 
       .imgDesktop{
        display: none !important;
       }
       .imgMobile{
        display:block !important;
       }
       .card{
    display:flex;
    text-align:center !important;

    
 }
  .title, .card-title, .card-text{
    margin-left: -5% !important;
 }
    
 }
 

